/* 
    Created on : 12-apr-2017, 18.41.00
    Author     : Riccardo
*/

body{
    background-color: #f6f0e8;
    font-family: "MS Gothic", Gothic, serif;
    font-size: 12px;
    color: black;
}

h1{
    font-family: "Arial", Times, serif;
    font-size: 20px;
    margin: 5px;
}

h2{
    font-family: "Arial", Times, serif;
    font-size: 16px;
    margin: 5px;
}

h3{
    font-family: "Arial", Times, serif;
    font-size: 12px;
    margin: 5px;
}

a:link {
    text-decoration: underline;
    color: blue;
}

a:visited{
    color: purple;
}

input{
    border-color: white;
}

input:focus{
    border-color: purple;
}

#anticamera{
    border: black solid 10px;
    padding: 5px;
    margin-bottom: 10px;
    height: 30px;
}

#NerdRecinto{
    display: inline;
    border-right: solid black 10px;
    padding-right: 97px;
    padding-top: 7px;
    padding-bottom: 20px;
}
#PeopleGroup{
    
    width: 200px;
    border: solid black 10px;
    padding-bottom: 100%;
}
#bachecaPost{
    margin-left: 230px;
}
.Post{
    border: solid black 10px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
#FraseMalvenuto{
    border: solid black 10px;
    padding-left: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}
nav > a {

     margin-right: 50px;
     padding-right: 50px;
     padding-top: 5px;
     padding-bottom: 5px;
}
#FormAzione{
    border: solid black 10px;
    padding: 0px 10px;
    margin: 0px auto;
    width: 300px;   
}
label::after, label::before { 
    content: '\A'; 
    white-space: pre; 
}
button {
    margin-top: 5px;
    width: 100%;
}
    
.fotoUtente{
    float: left;
    width: 120px;
    height: 120px;
}

.nomeUtente{
    font-size: 20px;
    margin: 0px;
    padding-left: 10px; 
    display: inline-block;
}

.contUtente{
    height: 120px;
}
    
img{
    max-width: 700px;
    max-height: 700px;
    }
    
#logout{
    float: right;
}

#logout p{
    margin-top: 2px;
    margin-bottom: 2px;
}

@media only screen and (min-width:1024px){
    #PeopleGroup{
        float: left;
    }

    
    
    .nomeUtente{
        padding-top: 50px;
    }
    
}

@media only screen and (max-width:1024px) and (min-width:480px){
    #PeopleGroup{
        float: left;
    }
    
    #FormAzione{
        width: 460px;
        margin-left: 230px;
    }
}
    
@media only screen and (max-width:480px){
    #bachecaPost{
        margin-left: 0px;
    }
    
    #NerdRecinto{
        width: 100px;
        padding-right: 0px;
        padding-bottom: 20px;
    }
    
    #PeopleGroup{
        width: 95%;
        height: auto;
        padding-bottom: 0px;
    }
    
    .contUtente{
        height: 85px;
    }
    
    nav > a {
        margin-right: 0px;
        padding-right: 10px;
    }
    
    #logout{
        float: right;
        max-width: 200px;
    }
    
    #logout p{
        margin-top: 2px;
        margin-bottom: 2px;
    }
    
    img{
        max-width: 300px;
    }
    
    .fotoUtente{
        height: 85px;
        width: 85px;
    }
    
    .nomeUtente{
        padding-top: 32.5px;
    }
}